@{
    ViewData["Title"] = "Conitune Order Page";
}
@model PizzaBox.Client.Models.OrderViewModel
<div class="row">
<div class="col-md"></div>
<div class="col-md">
<h1>Pizzas</h1>
<h4> Let's Start your Order at @Model.Store</h4>
 
<h4> Current Total:$ @Model.Total </h4>
</div>
<div class="col-md"></div>
</div>
 <div class="row">
  <div class="col-md"></div>
<div class="col">
<form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Pepperoni Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
<button class="btn btn-danger btn-lg" type="submit">
  Pepperoni 
</button>
</form>
</div>
<div class="col">
  <form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Four Cheese Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
<button class="btn btn-danger btn-lg">
  Four Cheese
</button>
  </form>
</div>
<div class="col-md"></div>
</div>
<br>
<div class="row">
  <div class="col-md"></div>
<div class="col">
  <form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Meat Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
<button class="btn btn-danger btn-lg">
  Meat Pizza
</button>
  </form>
</div>
<div class="col">
  <form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Veggie Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>

<button class="btn btn-danger btn-lg">
  Veggie Pizza
</button>
  </form>
</div>
<div class="col-md"></div>
</div>
  <br>
<div class="row">
<div class="col-md"></div>
<div class="col-md">
  <a href="/Home" class="btn btn-warning"> cancel order </a>
</div>
<div class="col-md"></div>
</div>  