@{
    ViewData["Title"] = "Conitune Adding";
}
@model PizzaBox.Client.Models.OrderViewModel
<div class="row">
<div class="col-md"></div>
<div class="col-md">
<h1>Pizzas</h1>
@if(@Model.Pizza!="none"){
<h4> Yov Have added @Model.Pizza To the Order</h4>
}

@if (Model.Pizzas!=null)
{
@foreach (var item in Model.Pizzas)
{

    <h5>@item.Name 
      <form asp-controller="Order" asp-action="RemovePizza" method="POST">
      <input type="text" class="d-none" asp-for="PizzaId" name="PizzaId" value="@item.EntityId">
      <input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">  
      <button class="btn btn-primary">remove</button>
      </form>
      </h5>   
     
}
 }
<h4> Current Total: $ @Model.Total </h4>
</div>
<div class="col-md"></div>
</div>
 <div class="row">
  <div class="col-md"></div>
<div class="col">
<form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Pepperoni Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
<button class="btn btn-danger btn-lg" type="submit">
  Pepperoni 
</button>
</form>
</div>
<div class="col">
  <form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Four Cheese Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
<button class="btn btn-danger btn-lg">
  Four Cheese
</button>
  </form>
</div>
<div class="col-md"></div>
</div>
<br>
<div class="row">
  <div class="col-md"></div>
<div class="col">
  <form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Meat Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
<button class="btn btn-danger btn-lg">
  Meat Pizza
</button>
  </form>
</div>
<div class="col">
  <form asp-controller="Order" asp-action="AddPizza" method="POST">
<input type="text" asp-formaction="Pizza" name="Pizza" value="Veggie Pizza" class="d-none"/>
<input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
<input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">

<button class="btn btn-danger btn-lg">
  Veggie Pizza
</button>
  </form>
</div>
<div class="col-md"></div>
</div>
  <br>
<div class="row">
<div class="col-md"></div>
<div class="col-md">
  <form asp-controller="Order" asp-action="FinishOrder" method="Post">
  <button type="submit"class="btn btn-danger ">Finish Order</button>
  <input type="text" class ="d-none" asp-for="User" name ="User" value="@Model.User">
<input type="text" class="d-none" asp-for="Store"name="Store" value =@Model.Store>
  <input type="text" class="d-none" asp-for="EntityId" name="EntityId" value ="@Model.EntityId">
  <input type="text" class="d-none" asp-for="Total" name="Total"value = "@Model.Total">
  </form>
</div>
<div class="col-md"></div>
</div>  